//color
.c-main {
  color: $color-main;
}

.c-red {
  color: $c-red;
}

.c-lan {
  color: $c-lan;
}

.c-3 {
  color: $c-3;
}

.c-6 {
  color: $c-6;
}

.c-9 {
  color: $c-9;
}

.c-f {
  color: #fff;
}

//bg
.bg-main {
  background-color: $color-main;
}

.bg-red {
  background-color: $c-red;
}

.bg-b3 {
  background-color: $c-b3;
}

.bg-f5 {
  background-color: $c-f5;
}

.bg-f {
  background-color: #fff;
}
