.icon-text {
  .box-l {
    padding: 0 10px;
  }

  .icon-l {
    line-height: 44px;
    font-size: 44px;
  }

  .text-l {
    line-height: 24px;
    font-size: 24px;
    margin-top: 8px;
  }

  .box-r {
    line-height: 90px;
    border-radius: 0;
  }

  .box-r-btn {
    line-height: 70px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
  }
}
