.g-auth {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  background: #fff;

  .tit {
    font-size: 38px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .mb {
    margin-bottom: 20px;
  }

  .zc-btn {
    width: 80%;
    height: 76px;
    line-height: 76px;
    font-size: 30px;
    margin: 40px auto 20px;
    color: #fff;
    background: #74DFB3;
  }
}
