.notice-bar {
  line-height: 90px;
  padding-left: 30px;

  .sty-reset {
    padding: 0 30px 0 50px;
  }

  .at-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .at-icon-chevron-right {
    right: 14px;
    font-size: 32px;
  }
}

.notice-bar-more {
  padding-right: 30px;
}
